*.DS_Store

# Xcode
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.xcuserstate
*.lock
project.xcworkspace/
xcuserdata/
Cashdoc/Resources/NPKI.zip
Cashdoc.app.dSYM.zip
Cashdoc.ipa

# Podfiles
Pods/

# Carthage
Carthage/Build
Carthage/Checkouts

# fastlane specific
/*.itmsp
.idea
.rakeTasks
spec/fixtures/*.itmsp/*.png
/integration
**/report.xml
**/.bundle
fastlane/lib/fastlane/plugins/template/.rubocop.yml
snapshot/example/fastlane/README.md
snapshot/example/fastlane/screenshots
fastlane/FastlaneRunner
fastlane/swift/FastlaneRunner

vendor/
