<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>887377991460-iuv8rh7q9l1pto2neb9nrhiuvgo0al3c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.887377991460-iuv8rh7q9l1pto2neb9nrhiuvgo0al3c</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>887377991460-6d945fujibmtinkmnppsmgd05632kidv.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBQpmqLkgEvozeByWeInslGz7Y_BcR54Ws</string>
	<key>GCM_SENDER_ID</key>
	<string>887377991460</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cashwalk.cashdoc</string>
	<key>PROJECT_ID</key>
	<string>cashdoc-5f28d</string>
	<key>STORAGE_BUCKET</key>
	<string>cashdoc-5f28d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<true/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:887377991460:ios:0208cfdcaab1ed3f</string>
	<key>DATABASE_URL</key>
	<string>https://cashdoc-5f28d.firebaseio.com</string>
</dict>
</plist>
